@import '../../global.scss';

.contact {
	background-color: #fff;
	color: $mainColor;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

    @include mobile {
        display: flex;
    }

	@include tablet {
        display: flex;
    }

	h1 {
		font-size: 60px;
		margin-bottom: 52px;
	}

	.boxContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 160px;
		margin-bottom: 50px;

		.itemContainer {
			.itemBox {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: $mainColor;

				.icon {
					font-size: 24px;
					margin-right: 10px;
				}

				span {
					font-size: 20px;
					font-weight: 500;
				}
			}			
		}
	}
}
