@import '../../global.scss';

.contact {
	background-color: #fff;
	color: $mainColor;
	height: $height;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;

	@include mobile {
		display: flex;
	}

	@include tablet {
		display: flex;
	}

	.boxContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40%;

		.itemContainer {
			margin: 0.5rem;

			.itemBox {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: $mainColor;

				.icon {
					font-size: 24px;
					margin-right: 10px;
				}

				span {
					font-size: 20px;
					font-weight: 500;
				}
			}
		}
	}

	.contactImg {
		width: 40%;
		
		img {
			width: 100%;			
		}
	}
}
