@import '../../../../global.scss';

.card {
  max-width: 24rem;
  height: 100%;
  border: 0.12rem solid $mainColor;

  &__img {
    height: 16rem;
    width: 100%;

    @include mobile {
      height: 10rem;
    }
  }

  &__content {
    min-height: calc(100% - 16rem - 4rem);

    span {
      text-decoration: underline;
      font-weight: 700;
    }
  }

  &__button {
    height: 4rem;

    a {
      text-decoration: none;
      color: #2196f3;
    }
  }
}
